<input type="hidden" name="{{ full_name }}" id="{{ id }}" value="{{ value }}" />

<p>{{ 'form.image_focal_point.description'|trans }}</p>

<div id="{{ id }}_focal_point" style="position: relative;">
    {{ media|media_image(500, 0, [], 'admin_mediamonks_sonatamedia_media_image') }}
    <i style="display:block; position:absolute;top:0;left:0;font-size:32px;color:#fff;text-shadow: 2px 2px 5px #333;" id="{{ id }}_focal_point_select" class="fa fa-crosshairs"></i>
</div>

<script type="text/javascript">
    $( document ).ready(function() {

        var currentFocalPoint = '{{ value }}';
        var image = $("#{{ id }}_focal_point img")[0];
        var imageWidth, imageHeight;
        $("<img/>")
            .attr("src", $(image).attr("src"))
            .load(function() {
                imageWidth = this.width;
                imageHeight = this.height;

                var currentX = parseInt(currentFocalPoint.split('-')[0]);
                var currentY = parseInt(currentFocalPoint.split('-')[1]);

                var top = Math.round((currentY / 100) * imageHeight);
                var left = Math.round((currentX / 100) * imageWidth);

                $('#{{ id }}_focal_point_select').css('top', top - 13).css('left', left - 13);
            });
    });

    $("#{{ id }}_focal_point").click(function(e) {
        var image = $("#{{ id }}_focal_point img")[0];
        var imageWidth = image.clientWidth;
        var imageHeight = image.clientHeight;

        var parentOffset = $(this).offset();
        var positionX = e.pageX - parentOffset.left;
        var positionY = e.pageY - parentOffset.top;

        if (positionX < 0) positionX = 0;
        if (positionY < 0) positionY = 0;
        if (positionX > imageWidth) positionX = imageWidth;
        if (positionY > imageHeight) positionY = imageHeight;

        var percentageX = Math.round((positionX / imageWidth) * 100);
        var percentageY = Math.round((positionY / imageHeight) * 100);

        var formValue = percentageX+'-'+percentageY;

        $('#{{ id }}').val(formValue);
        $('#{{ id }}_focal_point_select').css('top', positionY - 13).css('left', positionX - 13);
    });
</script>
