<input type="hidden" name="{{ full_name }}" id="{{ id }}" value="{{ value }}"/>

<p>{{ 'form.image_focal_point.description'|trans }}</p>

<div id="{{ id }}_focal_point" style="position: relative;">
    {{ media|media_image(500, 0, [], 'admin_mediamonks_sonatamedia_media_image') }}
    <i style="display:block; position:absolute;top:0;left:0;font-size:32px;color:#fff;text-shadow: 2px 2px 5px #333;" id="{{ id }}_focal_point_select" class="fa fa-crosshairs"></i>
</div>

<script type="text/javascript">
	$(document).ready(function () {
		$('#{{ id }}_focal_point img').on('load', function () {
			let currentFocalPoint = '{{ value ?? '50-50' }}';
			let currentX = parseInt(currentFocalPoint.split('-')[0]);
			let currentY = parseInt(currentFocalPoint.split('-')[1]);

			let top = Math.round((currentY / 100) * this.height);
			let left = Math.round((currentX / 100) * this.width);

			$('#{{ id }}_focal_point_select').css('top', top - 13).css('left', left - 13);
		});
	});

	$("#{{ id }}_focal_point").click(function (e) {
		let image = $("#{{ id }}_focal_point img")[0];
		let imageWidth = image.clientWidth;
		let imageHeight = image.clientHeight;

		let parentOffset = $(this).offset();
		let positionX = e.pageX - parentOffset.left;
		let positionY = e.pageY - parentOffset.top;

		if (positionX < 0) positionX = 0;
		if (positionY < 0) positionY = 0;
		if (positionX > imageWidth) positionX = imageWidth;
		if (positionY > imageHeight) positionY = imageHeight;

		let percentageX = Math.round((positionX / imageWidth) * 100);
		let percentageY = Math.round((positionY / imageHeight) * 100);

		let formValue = percentageX + '-' + percentageY;

		$('#{{ id }}').val(formValue);
		$('#{{ id }}_focal_point_select').css('top', positionY - 13).css('left', positionX - 13);
	});
</script>
