{% extends 'SonataAdminBundle:CRUD:edit.html.twig' %}

{% block sonata_tab_content %}
    {% if object.id is empty %}
        {{ parent() }}
    {% else %}
    <div class="col-md-7">
        <div class="row">
            {{ parent() }}
        </div>
    </div>
    <div class="col-md-5" style="padding-left:0;">
        {% if object.providerReference is not empty %}
            <div class="box box-primary">
                <div class="box-header"><h4 class="box-title">{{ 'preview'|trans }}</h4></div>
                <div class="box-body">
                    {% if object|media_supports('embed') %}
                        <label>{{ 'embed'|trans }}</label>
                        <br style="clear: both;">
                        {{ object|media_embed(360, 230) }}
                        <br><br>
                    {% endif %}
                    {% if object|media_supports('image') %}
                        <label>{{ 'image'|trans }}</label>
                        <br>
                        {{ object|media_image(360, 230, [], 'admin_mediamonks_sonatamedia_media_image', true) }}
                        <br><br>
                    {% endif %}
                    {% if object|media_supports('download') %}
                        <label>{{ 'download'|trans }}</label>
                        <br>
                        <a href="{{ path('admin_mediamonks_sonatamedia_media_download', {id: object.id}) }}"
                           class="btn btn-default" role="button"><i class="fa fa-fw fa-download"></i> {{ 'download_original'|trans }}</a>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
    {% endif %}
{% endblock %}
